body {
    background-image: url("../img/starry_back.jpg");
    background-repeat: repeat;
}

.center {
    margin: auto;
    width: 800px;
}

.main {
    margin: auto;
    max-width: 600px;
}

.icon {
    float: right;
}

