body {
    background-image: url("../img/starry_back.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.well {
    background-color: rgba(255,255,255,0.85);
}

.credit {
    float: right;
    text-align: right;
}
.center {
    margin: auto;
    width: 800px;
}

.main {
    margin: auto;
    max-width: 500px;
}

.icon {
    float: right;
}

.description {
    margin: auto;
    max-width: 700px;
}

