body {
    background-image: url("../img/starry_back.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.well {
    background-color: rgba(255,255,255,0.85);
}

.title {
    border-radius: 0px;
    padding-top:0px;
}

#overcanvas {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(255,0,0,0);
    z-index: 15;
}

#clock {
    position: absolute;
}

.credit {
    float: right;
    text-align: right;
}

#fullclock {
    width: 800px;
}

.center {
    margin: auto;
}

#fullclock {
    margin-bottom: 820px;
}

#controls {
    max-width: 400px;
}

.main {
    margin: auto;
    margin-top: 800px;
    max-width: 500px;
}

.icon {
    float: right;
}

.description {
    margin: auto;
    max-width: 700px;
}

.description p {
    text-align: justify;
}

.time_display {
    font-size: 1.3em;
}
