 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rotative Earth Watch</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script src="static/js/pixi.min.js"></script>

</head>

<body>
    <div class="center">
    </div>
    <div class="center">
        <p>
            Near Solar Time : <span id="time"></span>
        </p>
        <p>
            Local Time : <span id="local_time"></span>
        </p>
        <form action="javascript:get_position()">
            <p>
                <label for="latitude">Latitude :</label>
                <input class="form-control" type="text" name="latitude" id="latitude" placeholder="0" maxlength="20"/>
                
                <label for="longitude">Longitude :</label>
                <input class="form-control" type="text" name="longitude" id="longitude" placeholder="-90" maxlength="20"/>
            </p>

            <input class="btn btn-primary" type="submit" value="Send Coordinates" />
        
        </form>
    </div>
</body>
<script src="static/js/watch.js"></script>
</html> 
